.module-two-container{
    max-width: 1200px !important;
    height: 600px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 100px;
}

.color-image{
    transition: 0.2s ease-out all;
    height: 300px;
    cursor: pointer;

    &:hover{
        transform: scale(105%);
    }
}

.color-title{
    width: 260px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1200px){
}

@media only screen and (max-width: 1400px){
    .color-image{
        height: 280px;
    }
}

@media only screen and (max-width: 1200px){
    .color-image{
        height: 230px;
    }
}

@media only screen and (max-width: 991px){
    .color-image{
        height: 170px;
    }
}

@media only screen and (max-width: 768px){

    .module-two-container{
        height:100%;
    }

    .color-image{
        margin: 0 auto;
        display: block;
    }
}