.module-two-container{
    max-width: 1200px !important;
    height: 600px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 100px;
}

.color-image{
    height: 300px;
}

.color-title{
    width: 260px;
    margin: 0 auto;
    text-align: center;
}